<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method StudentController.showList -->
    <form id="filter-form" method="get" action="/">
        <label for="f1">YearsOfStudying</label>
        <input name="yearsOfStudying" id="f1" type="number"/>
        <label for="f2">Course</label>
        <select name="courseId" id="f2">
            <option value="">All</option>
            <!-- For each course you should have one <option> like below  -->
            <option th:each="course : ${courses}" th:text="${course.getName()}" th:value="${course.getId()}"> [course]</option>
        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
    <div>
        <!-- CourseController.showAdd (Only ADMIN can see this element)-->
            <a sec:authorize="hasRole('ADMIN')" href="/students/add" class="add-item">
                Add
            </a>
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Type</th>
            <th>Courses</th>
            <th>Actions</th>
        </tr>
        <!-- For each student you should have one <tr> like below -->
        <tr th:each="student : ${students}" class="item">
            <td th:text="${student.getName()}">[student.name]</td>
            <td th:text="${student.getEmail()}">[student.email]</td>
            <td th:text="${student.getType()}">[student.type]</td>
            <td th:text="${student.getEnrollmentDate()}">[student.type]</td>

            <td th:each="course : ${student.getCourses()}">
                <!-- For each of the student.courses show the following element-->
                <span th:text="${course.getName()}" class="item-rel"> [course.name]</span>
            </td>
            <td sec:authorize="hasRole('ADMIN')">
                    <!-- StudentController.delete (Only ADMIN can see this element)-->
                    <form method="post" th:action="@{'/students/{id}/delete' (id=${student.getId()})}">
                        <button type="submit" class="delete-item">Delete</button>
                    </form>
                    <!-- StudentController.showEdit (Only ADMIN can see this element)-->
                    <a th:href="@{'/students/{id}/edit'(id=${student.getId()})}" class="edit-item">Edit</a>
            </td>
        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
