<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method MoviesController.showMovies -->
    <form id="filter-form" method="get" action="/">
        <label for="rating">Rating</label>
        <input id="rating" type="number" name="rating"/>
        <label for="genre">Genre</label>
        <select id="genre" name="genre">
            <option value="">All</option>
            <!-- For each genre you should have one <option> like below  -->
            <option th:each="genre : ${genres}" th:text="${genre.name()}" th:value="${genre}"> [genre.name]</option>
        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
    <div>
        <!-- MoviesController.showAdd -->
        <a sec:authorize="hasRole('ROLE_ADMIN')" href="/movies/add" class="add-item">
            Add new movie
        </a>
    </div>
    <table>
        <tr>
            <th>Movie name</th>
            <th>Description</th>
            <th>Rating</th>
            <th>Genre</th>
            <th>Director</th>
            <th>Votes for PCA</th>
            <th>Actions</th>
        </tr>
        <!-- For each movie you should have one <tr> like below -->
        <tr th:each="movie : ${movies}" class="item">
            <td th:text="${movie.getName()}">[movie.name]</td>
            <td th:text="${movie.getDescription()}">[movie.description]</td>
            <td th:text="${movie.getRating()}">[movie.rating]</td>
            <td th:text="${movie.getGenre()}">[movie.genre]</td>
            <td th:text="${movie.getDirector().getName()}">[movie.director]</td>
            <td th:text="${movie.getVotes()}">[movie.votes]</td>
            <td>
                <!-- MoviesController.delete -->
                <form method="post" th:action="@{'/movies/{id}/delete' (id=${movie.getId()})}" >
                    <button sec:authorize="hasRole('ROLE_ADMIN')" type="submit" class="delete-item">Delete</button>
                </form>
                <!-- MoviesController.showEdit -->
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'/movies/{id}/edit' (id=${movie.getId()})}" class="edit-item">Edit</a>
                <!-- MoviesController.vote -->
                <form method="post" th:action="@{'/movies/{id}/vote' (id=${movie.getId()})}" >
                    <button sec:authorize="hasRole('ROLE_USER')" type="submit" class="like-item">Vote for Movie</button>
                </form>
            </td>
        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
